{{>header}}
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-6 ">
    <br><br><br><br>
    <div class="card p-3">

<form action="/" method="post">


  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form6Example1" class="form-control" name="firstName"/>
        <label class="form-label" for="form6Example1">First name</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form6Example2" class="form-control" name="lastName"/>
        <label class="form-label" for="form6Example2">Last name</label>
      </div>
    </div>
  </div>
{{!-- 
  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="text" id="form6Example3" class="form-control" name="companyName"/>
    <label class="form-label" for="form6Example3">Company name</label>
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="text" id="form6Example4" class="form-control" name="address"/>
    <label class="form-label" for="form6Example4">Address</label>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form6Example5" class="form-control" name="email"/>
    <label class="form-label" for="form6Example5">Email</label>
  </div> --}}

 <!-- Age input -->
  <div class="form-outline mb-4">
    <input type="number" id="form6Example6" class="form-control" name="Age"/>
    <label class="form-label" for="form6Example6">Age</label>
  </div>


  <!-- Number input -->
  <div class="form-outline mb-4">
    <input type="number" id="form6Example6" class="form-control" name="mobile"/>
    <label class="form-label" for="form6Example6">Phone</label>
  </div>

  {{!-- <div class="form-outline mb-4">
    <input type="file" id="form6Example6" class="form-control" name="file"/>
    <label class="form-label" for="form6Example6">File</label>
  </div> --}}
{{!-- <div class="form-outline mb-4">
    <input type="file" id="form6Example6" class="form-control" name="file"/>
    <label class="form-label" for="form6Example6">Upload File</label>
  </div> --}}
  <!-- Checkbox -->
  {{!-- <div class="form-check d-flex justify-content-center mb-4">
    <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />
    <label class="form-check-label" for="form6Example8"> Create an account? </label>
  </div> --}}


  <!-- Submit button -->
  <button type="submit" value="submit"  class="btn btn-primary btn-block mb-4">Submit</button>
</form>
    </div>

</div>
</div>
</div>

{{>footer}}